// 
// _footer.scss
// 

.footer {
    bottom: 0;
    padding: 15px calc(#{$grid-gutter-width} / 2);
    position: absolute;
    right: 0;
    color: $footer-color;
    left: $sidebar-width;
    min-height: $footer-height;
    height: auto;
    box-shadow: $box-shadow;
    background-color: $footer-bg;
}

@media (max-width: 992px) {
    .footer {
        left: 0;
    }
}

@media (max-width: 768px) {
    .footer {
        position: relative;
        height: auto;
        padding: 20px 15px;
        text-align: center;
    }
}

// Enlarge menu
.vertical-collpsed {
    .footer {
        left: $sidebar-collapsed-width;
    }
}

body[data-layout="horizontal"] {
    .footer {
        left: 0 !important;
    }  
}